doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Your page description')
    meta(name='author', content='Your page author')
    title Charity Home
    link(href="css/styles.css", rel="stylesheet")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    <![if lt IE 9]>
      script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js")
    <![endif]-->
    script(src="js/script.js")
  body
    .page-wrapper
      header.page-header
        a(href="#").page-header__logo charity
        .page-header__menu.top-menu
          a(href="#").top-menu__item home
          a(href="#").top-menu__item discover
          a(href="#").top-menu__item start campaign
          a(href="#").top-menu__item blog
          a(href="#").top-menu__item shop
          a(href="#").top-menu__item contact
          a(href="#").top-menu__item ...
      section.page-slider
        .page-slider__slide.slide
          h2.slide__heading helping people
          p.slide__description Lorem ipsum dolor sit amet, consectetuer adipiscing
            | elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            | magna aliquam erat volutpat.
          a(href="#").slide__link get started
          .divider
          .slide__goal.goal
            h4.goal__heading save lives
            p.goal__description Lorem ipsum dolor sit amet, consectetuer adipiscing
              | elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
              | magna aliquam.
          .slide__goal.goal
            h4.goal__heading give an educaction
            p.goal__description Lorem ipsum dolor sit amet, consectetuer adipiscing
              | elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
              | magna aliquam.
          .slide__goal.goal
            h4.goal__heading care about health
            p.goal__description Lorem ipsum dolor sit amet, consectetuer adipiscing
              | elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
              | magna aliquam.
      section.campaigns
        h3.campaigns__heading live campaigns
        p.campaigns__underheading Lorem ipsum dolor sit amet, consectetuer adipiscing
          | elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
          | aliquam erat volutpat. Ut wisi enim ad minim veniam.
        .campaigns__dots
          .dot
          .dot
          .dot
        .campaigns__item.campaigns-item
          .campaigns-item__logo.campaigns-item__logo_logo-1
          h4.campaigns-item__title Urgent rebuilding - 2500 Chennai flood survivors
          p.campaigns-item__description Lorem ipsum dolor sit amet, consectetuer
            |&nbsp adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            | laoreet dolore...
          p.campaigns-item__location india
          .campaigns-item__progress.progress
            .progress__bar.progress__bar_bar-1
            p.progress__funded
              | 40%
              span funded
            p.progress__pledged
              | $9,907
              span pledged
            p.progress__days-to-go
              | 21
              span days to go
        .campaigns__item.campaigns-item
          .campaigns-item__logo.campaigns-item__logo_logo-2
          h4.campaigns-item__title Internet Opens New World of Learning Opportunities
          p.campaigns-item__description Lorem ipsum dolor sit amet, consectetuer
            |&nbsp adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            | laoreet dolore...
          p.campaigns-item__location sierra leone
          .campaigns-item__progress.progress
            .progress__bar.progress__bar_bar-2
            p.progress__funded
              | 76%
              span funded
            p.progress__pledged
              | $45,176
              span pledged
            p.progress__days-to-go
              | 36
              span days to go
        .campaigns__item.campaigns-item
          .campaigns-item__logo.campaigns-item__logo_logo-3
          h4.campaigns-item__title Support 8 youth to succeed in school and society
          p.campaigns-item__description Lorem ipsum dolor sit amet, consectetuer
            |&nbsp adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            | laoreet dolore...
          p.campaigns-item__location guatemala
          .campaigns-item__progress.progress
            .progress__bar.progress__bar_bar-3
            p.progress__funded
              | 6%
              span funded
            p.progress__pledged
              | $896
              span pledged
            p.progress__days-to-go
              | 29
              span days to go
        .campaigns__item.campaigns-item
          .campaigns-item__logo.campaigns-item__logo_logo-4
          h4.campaigns-item__title Use Soap to Empower 60 Rape Survivors in Mali
          p.campaigns-item__description Lorem ipsum dolor sit amet, consectetuer
            |&nbsp adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            | laoreet dolore...
          p.campaigns-item__location india
          .campaigns-item__progress.progress
            .progress__bar.progress__bar_bar-4
            p.progress__funded
              | 3903%
              span funded
            p.progress__pledged
              | $1,951,515
              span pledged
            p.progress__days-to-go
              | 21
              span days to go
        .divider
        a(href="#").campaigns__link view all campaigns
      section.story
        .story__wrapper
          h3.story__heading our story
          p.story__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            | aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
            | exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
            | commodo consequat. Duis autem vel eum iriure dolor in hendrerit.
      section.help
        h3.help__heading How can you help
        p.help__underheading Lorem ipsum dolor sit amet, consectetuer adipiscing
          | elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
          | aliquam erat volutpat. Ut wisi enim ad minim veniam.
        .help__dots
          .dot
          .dot
          .dot
        .help__list.help-list
          .help-list__item.item
            h4.item__title send a donation
            p.item__description Vestibulum ante ipsum primis in faucibus orci luctus
              | et ultrices posuere cubilia Curae; Morbi lacinia molestie dui.
              | Praesent blandit dolor.
          .help-list__item.item
            h4.item__title buy related goods
            p.item__description At iste non dolendi status non vocatur voluptas.
              | Praeclare enim Plato: Beatum, cui etiam in senectute contigerit,
              | ut sapientiam verasque opiniones assequi possit.
          .help-list__item.item
            h4.item__title donate blood
            p.item__description At iste non dolendi status non vocatur voluptas.
              | Praeclare enim Plato: Beatum, cui etiam in senectute contigerit,
              | ut sapientiam verasque opiniones assequi possit.
          .help-list__item.item
            h4.item__title become a volunteer
            p.item__description Omnia contraria, quos etiam insanos esse vultis.
              | Quid censes in Latino fore? Negabat igitur ullam esse artem,
              | quae ipsa a se proficisceretur.
      section.shop
        .shop__image
        .shop__container.shop-container
          h4.shop-container__heading buy campaign related goods
          p.shop-container__description Lorem ipsum dolor sit amet, consectetuer
            | adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            | dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            | quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
            | aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
            | in hendrerit.
          a(href="#").shop-container__link visit shop
      section.donors
        h3.donors__heading best donors
        p.donors__underheading Lorem ipsum dolor sit amet, consectetuer adipiscing
          | elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
          | aliquam erat volutpat. Ut wisi enim ad minim veniam.
        .donors__dots
          .dot
          .dot
          .dot
        .donors__item.donor
          .donor__photo.donor__photo_donor-1
          p.donor__donation $12,840
          p.donor__name peter thompson
        .donors__item.donor
          .donor__photo.donor__photo_donor-2
          p.donor__donation $10,000
          p.donor__name victor marquez
        .donors__item.donor
          .donor__photo.donor__photo_donor-3
          p.donor__donation $9,600
          p.donor__name ginger matthews
        .donors__item.donor
          .donor__photo.donor__photo_donor-4
          p.donor__donation $9,250
          p.donor__name jim howards
        .donors__item.donor
          .donor__photo.donor__photo_donor-5
          p.donor__donation $8,710
          p.donor__name magdeleine schmidt
      footer.page-footer
        p.page-footer__copyrights 2016 All rights reserved
        .page-footer__links
          a(href="#") about
          a(href="#") blog
          a(href="#") privacy policy
          a(href="#") terms of service
